<ion-list-header style="margin-top: 15px">
  <ion-label style="font-weight: 900; font-size: 20px">{{'entities.chapters'|translate}}</ion-label>
</ion-list-header>

<div class="flex" style="width: 100%; padding: 10px 20px; flex-wrap: wrap">
  <ng-container
    *ngFor="let chapter of firstChapter().slice(0, 3); let i = index"
  >
    <ion-chip style="max-width: 48%" (click)="openUpdateBottomSheet(i)" outline>
      <ion-icon color="primary" name="bookmark-outline"></ion-icon>
      <ion-label class="label">{{ chapter.title }}</ion-label>
    </ion-chip>
  </ng-container>
  <ion-chip *ngIf="firstChapter().length > 3" style="max-width: 48%" outline>
    <ion-label class="label">...</ion-label>
  </ion-chip>
  <ion-button
    style="text-transform: none; height: 32px"
    shape="round"
    (click)="openBottomSheet()"
  >
    <ion-icon name="add-circle-outline"></ion-icon>
    {{'chapter.singular'|translate}}
  </ion-button>

  <ion-button
    (click)="openChapterListModal()"
    style="text-transform: none; height: 32px"
    shape="round"
  >
    <ion-icon name="list"></ion-icon>
    {{'chapter.all'|translate}}
  </ion-button>
</div>
