ion-grid {
  padding: 0 !important;
  border-top: solid 1px #d2cdcd;
}
.send-col {
  padding: 0 !important;
  ion-button {
    height: 100% !important;
    margin: 0 !important;
    border-radius: 0 !important;
  }
}
