<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill="clear" (click)="close()">
      <ion-icon name="arrow-back-outline" color="secondary"></ion-icon>
    </ion-button>
    <ion-title style="font-weight: 600; font-size: 16px">{{
      "group.update.title" | translate
    }}</ion-title>
    <ion-button slot="end" fill="clear" (click)="deleteConfirm()">
      <ion-icon name="trash" color="secondary"></ion-icon>
    </ion-button>
    <ion-button slot="end" fill="clear" (click)="updateGroup()">
      <ion-icon name="save" color="secondary"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div
    style="padding-bottom: 10px"
    class="flex justify-center items-center column"
  >
    <app-card-avatar
      slot="start"
      *ngIf="group.avatar; else noAvatar"
      [isAddCard]="false"
      [imageSrc]="group.avatar"
      cardType="rectangle"
      (click)="openImageModal()"
    ></app-card-avatar>

    <ng-template #noAvatar>
      <app-card-avatar
        slot="start"
        [isAddCard]="false"
        [name]="group.general.name"
        cardType="rectangle"
        (click)="openImageModal()"
      ></app-card-avatar>
    </ng-template>
    <div style="color: grey">{{ "group.update.image" | translate }}</div>
  </div>

  <ion-item lines="none">
    <h1 style="font-weight: 900; font-size: 20px">
      {{ "information" | translate }}s
    </h1>
  </ion-item>

  <mat-accordion displayMode="flat" panelState="collapsed">
    <mat-expansion-panel *ngFor="let catKey of groupObjectKeys">
      <mat-expansion-panel-header>
        <ion-item lines="none">
          <mat-icon slot="start">{{ icons[catKey] }}</mat-icon>
          {{ "group." + catKey + ".title" | translate }}
        </ion-item>
      </mat-expansion-panel-header>
      <app-autogrow-textarea
        *ngFor="let key of getKeys(group[catKey])"
        [label]="'group.' + catKey + '.' + key | translate"
        [(modelValue)]="groupClone[catKey][key]"
      >
      </app-autogrow-textarea>
    </mat-expansion-panel>

    <!-- Additionnal  tools -->
    <app-custom-field
      path="groups"
      [itemId]="groupClone.id"
      [projectId]="projectId"
      [customFields]="groupClone.customFields"
    ></app-custom-field>
    <!-- MEMBRES -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <ion-item class="ion-text-uppercase" lines="none">
          <ion-icon
            slot="start"
            style="color: black"
            name="happy-outline"
          ></ion-icon>
          {{ "member.singular" | translate }}s
        </ion-item>
      </mat-expansion-panel-header>

      <mat-list>
        <mat-list-item
          *ngFor="
            let character of getMembers(groupClone.members);
            let i = index
          "
        >
          <ngx-avatar
            matListAvatar
            *ngIf="character.avatar; else noAv"
            [src]="character.avatar"
          >
          </ngx-avatar>
          <ng-template #noAv>
            <ngx-avatar matListAvatar [name]="character.general.name">
            </ngx-avatar>
          </ng-template>
          <h3 matLine>{{ character.general.name }}</h3>
          <p matLine>
            {{ character.general.description }}
          </p>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" overlapTrigger>
            <button mat-menu-item (click)="removeMember(i)">
              <mat-icon>delete_forever</mat-icon>
              <span>{{ "trash.buttons.softDelete" | translate }}</span>
            </button>
          </mat-menu>
        </mat-list-item>
      </mat-list>
      <button (click)="openAddMembersModal()" mat-button color="primary">
        {{ "group.update.addCharacter" | translate }}
      </button>
    </mat-expansion-panel>
  </mat-accordion>
</ion-content>
